body {
  background-color: rgb(8, 8, 8);
  text-align: center;
  color: aliceblue;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #000014;
  padding: 20px;
  width: auto;
  height: auto;
}

code {
  font-size: 1.1em;
  border: solid white 1px;
  border-radius: 3px;
  padding: 0 2px;
  background:rgba(255,255,255,.3);
}

a {
  color: rgb(150,150,150);
  text-decoration: underline;
}

.main {
  text-align: center;
}

/*--------------- EXERCISE 1 STYLES ---------------- */
.exercise1 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

.node2 {
  text-align: center;
}

/*--------------- EXERCISE 2 STYLES ---------------- */
.exercise2 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

/*--------------- EXERCISE 3 STYLES ---------------- */
.exercise3 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

#container {
  width: 200px;
  height: 200px;
  background: green;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container a {
  color: white;
  font-weight: 100;
}

#container-label {
  font-weight: bold;
}

#box {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}

/*--------------- EXERCISE 4 STYLES ---------------- */
.exercise4 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

/*--------------- EXERCISE 5 STYLES ---------------- */
.exercise5 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid #bfbfbf;
  padding: 20px;
  width: auto;
  height: auto;
}

#show-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-modal > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  border-radius: 1em;
  max-width: 50%;
  background-color: whitesmoke;
}

#show-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
